
.idea/ChineseChekersIA.iml
.idea/dictionaries/kivid.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
*.pyc
examples/memory.py
examples/test.py
game_test.py
game_test.py
cat.png
game_test.py
memory.py
test.py
test.py
examples/testing.py
.idea/ChineseChekersAI.iml
